# Byte-compiled / optimized / DLL files
_pycache_/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
env/
venv/
.venv/
ENV/

# Environment variable files
.env
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# pyenv
.python-version

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

# Log files
*.log

# Test coverage reports
htmlcov/
.coverage
.tox/
.nox/
.cache/

# Build artifacts
build/
dist/
*.egg-info/